Source: radxa-touchscreen-utils
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,

Package: radxa-touchscreen-utils
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Description: Radxa touchscreen helper
 This package provides helper scripts to provide better
 touchscreen behaviour.
